body{
    background-color: rgb(162, 207, 207);
}
.nombre1{
    color: rgb(50, 38, 99);
    font-size:xx-large ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.parrafo1{
    color: rgb(255, 0, 72);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:larger ;
}
.nombre2{
    color: rgb(93, 0, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:x-large;
}