#rojo {
    background-color: red;
}

#verde {
    background-color: green;
}
#azul {background-color: rgb(55, 0, 255);
}
#amarillo {
    background-color: rgb(238, 255, 0);
}
#morado {
    background-color: rgb(247, 0, 255);
}