#Titulo {
    color:rgb(79, 98, 183);
    align-content: center;
}
    
#Titulo2 {
    color:rgb(47, 153, 172);
    align-content: center;

    

}
.imagen { 
    height: 350px;
    width: 350px;
    

}